<div>
    <h2 >{{chem.name_name}}</h2>
    <form action="/chemicals/edit/{{chem.name_id}}" method="post">
        <table class="table table-bordered mt-5">
            <tr>
                <td scope="col">Eigenschaft</td>
                <th scope="col">Wert</th>
            </tr>
            <tr>
                <th>Chemikalien-ID</th>
                <td>{{chem.chem_id}}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{chem.name_name}}</td>
            </tr>
            <tr>
                <th>GSBL-RN</th>
                <td>{{chem.gsbl_rn}}</td>
            </tr>
            <tr>
                <th>CAS-RN</th>
                <td>{{chem.cas_rn}}</td>
            </tr>
            <tr>
                <th>Sprache</th>
                <td>{{chem.language}}</td>
            </tr>
            <tr>
                <th>Namenstyp</th>
                <td>{{chem.type}}</td>
            </tr>
            <tr>
                <th>Beschreibung</th>
                <td>{{chem.chem_description}}</td>
            </tr>
        </table>
        {{#if user}}
            <input class="btn btn-primary ml-3" type="submit" value="Chemikalie Bearbeiten">
        {{/if}}
    </form>
</div>