<div>
    <form action="/chemicals/edited" method="post">
        <table>
            <tr>
                <td>Eigenschaft</td>
                <td>Wert</td>
            </tr>
            <tr>
                <td>Chemikalien-ID</td>
                <td><input type="text" name="chem_id" id="chem_id" value="{{chemical.chem_id}}"></td>
            </tr>
            <tr>
                <td>Name</td>
                <td><input type="text" name="name_name" id="name_name" value="{{chemical.name_name}}"></td>
            </tr>
            <tr>
                <td>GSBL-RN</td>
                <td><input type="text" name="gsbl_rn" id="gsbl_rn" value="{{chemical.gsbl_rn}}"></td>
            </tr>
            <tr>
                <td>CAS-RN</td>
                <td><input type="text" name="cas_rn" id="cas_rn" value="{{chemical.cas_rn}}"></td>
            </tr>
            <tr>
                <td>Sprache</td>
                <td><select id="language" name="language">
                    {{#each languages}}
                        <option value="{{this.language_abbreviation}}" {{selected this.language_abbreviation ../chemical.language}}>{{this.language_name}}</option>
                    {{/each}}
                </select></td>
            </tr>
            <tr>
                <td>Namenstyp</td>
                <td><select id="type" name="type">
                    {{#each types}}
                        <option value="{{this.type_name}}" {{selected this.type_name ../chemical.type}}>{{this.type_name}}</option>
                    {{/each}}
                </select></td>
            </tr>
            <tr>
                <td>Beschreibung</td>
                <td><input type="text" name="chem_description" id="chem_description" value="{{chemical.chem_description}}"></td>
            </tr>
        </table>
            <input type="submit" value="Speichern">
    </form>
</div>
