<div>
    <form action="/chemicals/edited" method="post">
            <p>ID: <input type="text" name="chem_id" id="chem_id" value="{{chemical.chem_id}}"></p>
            <p>GSBL-RN: <input type="text" name="gsbl_rn" id="gsbl_rn" value="{{chemical.gsbl_rn}}"></p>
            <p>CAS_RN: <input type="text" name="cas_rn" id="cas_rn" value="{{chemical.cas_rn}}"></p>
            <p>Name: <input type="text" name="name_name" id="name_name" value="{{chemical.name_name}}"></p>
            <p>Sprache: <input type="text" name="language" id="language" value="{{chemical.language}}"></p>
            <p>Beschreibung: <input type="text" name="chem_description" id="chem_description" value="{{chemical.chem_description}}"></p>
            <input type="submit" value="Speichern">
    </form>
</div>