<div>
    <form action="/chemicals/edited" method="post">
        <table>
            <tr>
                <td>Eigenschaft</td>
                <td>Wert</td>
            </tr>
            <tr>
                <td>Chemikalien-ID</td>
                <td><input type="text" name="chem_id" id="chem_id" value="{{chemical.chem_id}}"></td>
            </tr>
            <tr>
                <td>Name</td>
                <td><input type="text" name="name_name" id="name_name" value="{{chemical.name_name}}"></td>
            </tr>
            <tr>
                <td>GSBL-RN</td>
                <td><input type="text" name="gsbl_rn" id="gsbl_rn" value="{{chemical.gsbl_rn}}"></td>
            </tr>
            <tr>
                <td>CAS-RN</td>
                <td><input type="text" name="cas_rn" id="cas_rn" value="{{chemical.cas_rn}}"></td>
            </tr>
            <tr>
                <td>Sprache</td>
                <td><input type="text" name="language" id="language" value="{{chemical.language}}"></td>
            </tr>
            <tr>
                <td>Namenstyp</td>
                <td><input type="text" name="type" id="type" value="{{chemical.type}}"></td>
            </tr>
            <tr>
                <td>Beschreibung</td>
                <td><input type="text" name="chem_description" id="chem_description" value="{{chemical.chem_description}}"></td>
            </tr>
        </table>
<!--            <p>ID: <input type="text" name="chem_id" id="chem_id" value="{{chemical.chem_id}}"></p>-->
<!--            <p>GSBL-RN: <input type="text" name="gsbl_rn" id="gsbl_rn" value="{{chemical.gsbl_rn}}"></p>-->
<!--            <p>CAS_RN: <input type="text" name="cas_rn" id="cas_rn" value="{{chemical.cas_rn}}"></p>-->
<!--            <p>Name: <input type="text" name="name_name" id="name_name" value="{{chemical.name_name}}"></p>-->
<!--            <p>Sprache: <input type="text" name="language" id="language" value="{{chemical.language}}"></p>-->
<!--            <p>Beschreibung: <input type="text" name="chem_description" id="chem_description" value="{{chemical.chem_description}}"></p>-->
            <input type="submit" value="Speichern">
    </form>
</div>